div#arena {
    width: 800px;
    height: 400px;
    border-style: solid;
}

div#arena > div {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    float: left;
    border-radius: 50%;
}

div#arena > div.tail {
    background-color: blue;
}

div#arena > div.head {
    background-color: gray;
}

div#arena > div.food {
    background-color: orange;
}
